numpy>=1.23.0
pandas>=1.5.0
python-dateutil>=2.8.1
pytz>=2020.1
scipy>=1.6.1
six>=1.15.0
matplotlib>=3.4.0
pandas-datareader>=0.10.0
jupyter>=1.0.0
Jinja2>=3.1.2
yfinance>=0.2.61
eurostat>=1.0.1
seaborn>=0.12.0
sdmx1>=2.17.0
